<div class="container">
    <div class="example-container">
        <div>
            <h1 class="heading">TODO</h1>
        </div>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList,onholdList,inprogressList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          >
            <div *ngFor="let item of todo" >
                <app-todo cdkDrag [data]="item"> </app-todo>
            </div>
        </div> 
    </div>
      
    <div class="example-container" >
        <div>
            <h1 class="heading">INPROGRESS</h1>
        </div>
        <div
        cdkDropList
        #inprogressList="cdkDropList"
        [cdkDropListData]="inprogress"
        [cdkDropListConnectedTo]="[todoList,onholdList,doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        >
            <div *ngFor="let item of inprogress" >
                <app-inprogress cdkDrag [data]="item" > </app-inprogress>
            </div>
        </div>
    </div>
     
    <div class="example-container" >
        <div>
            <h1 class="heading" >INHOLD</h1>
        </div>
        <div    
        cdkDropList
        #onholdList="cdkDropList"
        [cdkDropListData]="onhold"
        [cdkDropListConnectedTo]="[todoList,inprogressList,doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        >
            <div *ngFor="let item of onhold" >
                <app-onhold cdkDrag [data]="item" > </app-onhold>
            </div>
        </div>
    </div>
       
    <div class="example-container">
        <div>
             <h1 class="heading" >COMPLETED</h1>
        </div>
        <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList,inprogressList,onholdList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        >
            <div *ngFor="let item of done" >
                <app-complete cdkDrag [data]="item" > </app-complete>
            </div>
        </div>
    </div> 
</div>

  
  