.mainbox{
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
    padding:100px 200px;
    height: 100vh;
    @media (max-width: 1400px) {
        padding:100px 50px;
    } 
    @media (max-width: 1200px) {
        padding:100px  50px;
    } 

};

.sidebox{
    width:400px;
    background-color:#f1f3f5;
    height:80vh;
    border-right: 2px solid #ccc;
}
.textbox {
    display: flex;
    flex-direction: column;
    flex:1;
}