<!-- <div class="mainbox">
    <app-sidebox 
    class="sidebox" 
    [class.mat-elevation-z2]="isActive"
    [data]="temp" 
    (delelem)="deleteHandler($event)"
    (emitupd)="updateNote($event)">
    [slcted]='selected'
    </app-sidebox>
    <app-textbox 
    (emitNote)="NoteHandler($event)" 
    (emitUpdate)="NoteUpdateHandler($event)"
    class="textbox" 
    [updVar]="update" 
    ></app-textbox>
</div> -->
<!-- <app-dragdrop>
    
</app-dragdrop> -->