.card{
    margin:5px 0px;
    box-sizing: border-box;
    background-color: yellow;
    width:400px;
    border-radius: 4px;
    padding:15px;

}
.title{
   font-weight: bold;
}
.desc{
   font-size: 16px;
   word-break: break-all;
}
.buttonwrapper{
    display: flex;
    flex-direction: row;
    justify-content: end;
}