
    <div class ="searchbar">
        <input class='srchinput' type ='text' id ='searchbar' name='searchbar' 
        placeholder=" Search Note ..." 
        [(ngModel)]="searchinput" 
        >
    </div>
    <div class="topbox">
        <ng-template ngFor let-item [ngForOf]="data" let-i="index"  >
            <app-card [userdata]="item"  [index]="i" 
            [crdslcted]='slcted'
            (deletedata)="deleteHandler($event)" 
            (emitupdate)="updateHandler($event)" 
             *ngIf="searchinput===''||item.message.toLowerCase().includes(searchinput.toLowerCase())"></app-card>
        </ng-template>
    </div>

  
    
    

    