.searchbar{
    width: 100%;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items:end;
}
.topbox{
    box-sizing: border-box;
    padding:30px 0px 30px ;
    height: 70vh;
    overflow-y: scroll;
 }
.srchinput{
 width:80%;
 font-size: 24px;
 height: 5vh;
 background-color: #f1f3f5;
 border-top-style: hidden;
 border-right-style: hidden;
 border-left-style: hidden;
 border-bottom-style: groove;
}
.srchinput:focus {
    outline: none;
  }