.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  .card{
    margin:5px 0px;
    box-sizing: border-box;
    background-color: lightcoral;
    width:400px;
    border-radius: 4px;
    padding:15px;

}
.title{
   font-weight: bold;
}
.desc{
   font-size: 16px;
   word-break: break-all;
}
.buttonwrapper{
    display: flex;
    flex-direction: row;
    justify-content: end;
}