* {
    box-sizing: border-box;
    }
    html, body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px; 
    color: #666;
    }
    input, textarea { 
    outline: none;
    }
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #5a7233;
    }
    h1 {
    margin-top: 0;
    font-weight: 500;
    }
    form {
    position: relative;
    width: 90%;
    border-radius: 30px;
    background: #fff;
    }

    .datastyle{
        width:50%;
       border-radius: 30px;
       background: #fff;
       padding: 40px;
    }
    .form-inner {
    padding: 40px;
    }
    .form-inner input,
    .form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #d0dfe8;
    }
    .form-inner textarea {
    resize: none;
    }
    button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid #3e4f24;
    background: #5a7233; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    }
    button:hover {
    background: #3e4f24;
    } 
    @media (min-width: 700px) {
    form {
    width: 500px;
    }
    }
    .hidden{
        display:none;
    }