       
        <div class="topbar">
            <div class="keeper">
                <input class="colordiv" type="color" id="ntclr" name="ntclr" [(ngModel)]="noteclr">
                <h1 class="hding">Choose Color Option </h1>
            </div>
            <button mat-raised-button color="primary" class="large"  (click)="addNote()" [ngStyle]="{'display':addnote}">Add Note</button>
            <button mat-raised-button color="warn" class="large"  (click)="updateNote()" [ngStyle]="{'display':updatent}">Update</button>
        </div>
        <div>
            <textarea class="textfield"
             [(ngModel)]="message" [value]="message"
             placeholder="Create a new note ..."
            ></textarea>
        </div>
