
.topbar{
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background-color:#f1f3f5;
    height:10vh;
}

.large{
    height: 50px;
    font-size: 18px;
}
.keeper{
    margin-left: 20px;
    display:flex;
    flex-direction: row;
}
.textfield{
    width: 100%;
    height:70vh;
    padding: 30px 30px;
    box-sizing: border-box;
    border:none;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.textfield:focus{
        outline: none;  
}
.inputwrapper{
    height: 100%;
}
.colordiv{
    border:0px;
    padding:0px;
    margin:0px;
    width:40px;
    height:5vh;
}
.hding{
    display:flex;
    align-items: center;
    font-weight: bold;
    align-items: center;
    margin:0px 0px 0px 10px;
}