

.header{
    background-color:#A75D5D;
    width:100%;
    height: 50px;
    text-align: center;
}
.footer{
    background-color: #A75D5D;
    width:100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    text-align: center;
}
    