
    <div  class ="cardbox" [ngStyle]="{'background-color':crdslcted}">
      <div class="cardcolor"  [ngStyle]="{'background-color': userdata.color}" > </div>
      <div class="contentwrapper" (click)="updateNote(index)">
          <p class = "cardcontent"> 
            {{userdata.message}} 
          </p>
           <p class="carddate">
            {{ userdata.date|date:"MM/dd/yy"}}
           </p>
      </div>
       <button class = "cardbutton" (click)="deleteNote(index)"> x </button>
   </div>
