.cardbox{
    display:flex;
    flex-direction: row;
    position:relative;
    height: 120px;
    // margin: 10px auto;
    cursor: pointer;
    border:1px solid #ccc
}
.cardcolor{
    width:20px;
    height:120px;
}
 .contentwrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
 }
.cardcontent{
    margin:0px;
    padding:10px 10px 10px;
    font-size: 24px;
    width: 300px;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
    
}
.carddate{
    margin:0px;
    font-size:18px;
    padding:0px 0px 10px 10px ;
}

.cardbutton{
    background-color: transparent;
    position:absolute;
    top:2px;
    right:2px;
    font-weight: bold;
    font-size: 28px;
    border: none;
}
