
<div class ='mainbox'>
    <form (submit)="submitForm($event)" >
        <p><label for="note">Create your Note</label></p>
        <textarea id="note" name="note" rows="4" cols="50"> 
        </textarea>
        <br>
        <button type="submit">Submit</button>    
    </form>
</div>