<div class ='card'>
    <h2 class="title">Title</h2>
    <p class="desc"> Lorem ipsum dolor sit amet consectetur adipisicing ipsum ab molestias quos possimus?</p>
    <div class="buttonwrapper">
        <button mat-icon-button aria-label="Example icon button with a delete icon">
            <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button mat-icon-button  aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
    </div>
</div>