
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.frm_box{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.frm_box1{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
.container{
    display:flex;
    flex-direction: row;
    padding:'20px';
}
.box1{
    width:50%;
    margin-right: 40px;
}
.box2{
    width:50%;
}
.optBox{
    display:flex;
    flex-direction:row;
}
.optionbox{
    
    padding:20px 5px;
}
.hidden{
    display:none;
}