
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication form </title>
</head>

<body>

    <form action="http://127.0.0.1:8000/authentication/signup/" method="POST"> 
      {%csrf_token%}
          <label for ="username"> username</label>
          <input type="text" placeholder=" Enter Username" name="username" required>
           <br>
          <label for ="firstname">firstname</label>
          <input type="'text" placeholder="Enter firstname" name="firstname" required>
           <br>
          <label for ="lastname">lastname</label>
          <input type="text" placeholder="Enter lastname" name="lastname">
           <br>
          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" required>
           <br>
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
            <br>
          <button type="submit">Sign Up</button>
      </form>


</body>

</html>