<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2> YOU LOGGED IN SUCCESSFULLY </h2>
    <p>{{fname}} {{lname}}</p>
    <p>username:{{username}}</p>
     <a href="http://127.0.0.1:8000/authentication/signout/">
        <button> Sign Out</button>
     </a>
</body>
</html>